

.leftbar {
  flex: 2;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  background-color: white;
  color: black;
  
}

/* Mobile-specific styles */
@media only screen and (max-width: 767px) {
  .leftbar {
    display: none;
  }
}

.leftbar::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 20px;
}

.container hr {
  margin: 20px 0px;
  border: none;
  height: 0.5px;
  background-color:  lightgray;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.menu span {
  font-size: 12px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.user span {
  font-size: 14px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item img {
  width: 30px;
}

.item span {
  font-size: 14px;
}
